@use 'abstracts' as *;

.btn {
    padding: var(--space-sm) var(--space-md);
    border-radius: $border-radius;
    transition: background $transition-normal;
    cursor: pointer;

    &--primary {
        background: var(--color-primary);
        color: var(--color-text-inverted);
    }
}
