<mat-card>
  <mat-card-title>Gestió d'usuaris</mat-card-title>

  <div *ngIf="(users$ | async) as users; else noUsers">
    <mat-list>
      <mat-list-item *ngFor="let u of users">
        <mat-icon matListIcon>person</mat-icon>
        <div matLine>{{ u.displayName || u.email || 'Usuari' }}</div>
        <div matLine class="secondary">{{ u.email }}</div>
        <button mat-icon-button color="warn" (click)="deleteUser(u.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
  </div>

  <ng-template #noUsers>
    <p>No hi ha usuaris registrats (s'espera una col·lecció `users` a Firestore).</p>
  </ng-template>
</mat-card>
