<mat-card>
  <mat-card-title>Gestió d'usuaris</mat-card-title>

  @if (users$ | async; as users) {
    <mat-list>
        @for (u of users; track u.email) {
            <mat-list-item>
                <div class="left">
                <mat-icon>person</mat-icon>
                <div class="info">
                    <div class="name">{{ u.displayName || u.email || 'Usuari' }}</div>
                    <div class="secondary">{{ u.email }}</div>
                </div>
                </div>
                

                <div class="actions">
                <mat-slide-toggle [checked]="u.roles?.admin" (change)="toggleAdmin(u, $event)">Admin</mat-slide-toggle>
                <button mat-icon-button color="warn" (click)="removeUserDoc(u)">
                    <mat-icon>delete</mat-icon>
                </button>
                </div>
            </mat-list-item>
      }
    </mat-list>
  }
  @else {
    <p>No hi ha usuaris registrats (s'espera una col·lecció `users` a Firestore).</p>
  }

</mat-card>
