@use '@angular/material' as mat;

.container {
    width: 100%;
}

.list-users {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.user-card {
    display: grid;
    grid-template-rows: 50px 50px 50px;
    grid-template-columns: 50px 250px;

    justify-content: center;
    align-items: center;

    width: 300px;
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.avatar {
    grid-row: 1;
    grid-column: 1;

    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
}

.info .secondary {
    grid-row: 1;
    grid-column: 2;

    color: rgba(0, 0, 0, 0.6);
    font-size: 12px;
}

.roles {
    grid-row: 2;
    grid-column-start: 1;
    grid-column-end: span 2;

    display: flex;
    gap: 8px;
    justify-content: space-between;
}

.actions {
    grid-row: 3;
    grid-column-start: 1;
    grid-column-end: span 2;

    display: flex;
    gap: 8px;
    justify-content: space-evenly;

    @include mat.icon-button-overrides((
        icon-color: red,
    ));
}