.auth-container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

mat-card-title {
  margin-bottom: 20px;
}

mat-card {
  max-width: 380px;
  padding: 20px;
  margin: 16px 40px;
}

mat-form-field {
  padding-bottom: 10px;
}
