.auth-container {
  display: flex;
  justify-content: center;
  margin-top: 40px;

  mat-card-title {
    margin-bottom: 20px;
  }

  mat-card {
    width: 380px;
    padding: 20px;
  }

  mat-form-field {
    padding-bottom: 10px;
  }

  .full-width {
    width: 100%;
  }
}
