<div class="auth-container">
  <mat-card>
    <mat-card-title>Inicia sessió</mat-card-title>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      
      <mat-form-field class="full-width">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" placeholder="pau@mostra.com" type="email"
          (blur)="updateEmailErrorMsg()" required />

        @if (loginForm.controls.email.invalid) {
          <mat-error>{{emailErrorMsg()}}</mat-error>
        }
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Contrasenya</mat-label>
        <input matInput formControlName="password" [type]="hidePwd() ? 'password' : 'text'" required />

        <mat-icon matSuffix (click)="changePwdVisibility($event)">{{hidePwd() ? 'visibility_off' : 'visibility'}}</mat-icon>

        @if (loginForm.controls.password.invalid && loginForm.controls.password.touched) {
          <mat-error>La contrasenya és obligatòria</mat-error>
        }
      </mat-form-field>

      <button mat-raised-button color="primary" class="full-width" type="submit"
        [disabled]="loading || loginForm.invalid">

        @if (!loading) {
        Entrar
        } @else {
        <mat-progress-spinner mode="indeterminate" diameter="24"></mat-progress-spinner>
        }
      </button>

      <button mat-button color="accent" class="full-width" routerLink="/register" [disabled]="loading"
        style="margin-top: 16px;">
        Crear un compte
      </button>
    </form>

  </mat-card>
</div>