// Import order recomanat
@use 'abstracts' as *;
@use 'base' as *;
@use 'layout' as *;
@use 'themes' as *;
@use 'components' as *;

// @use '@angular/material' as mat;
// @import 'styles/colors';

// $snack-radius: 8px;

// html,
// body {
//   height: 100%;
// }
// .full-width { width: 100%; }
// body {
//   margin: 0;
//   font-family: Roboto, "Helvetica Neue", sans-serif;
//   background-color: $color-light;
// }

// Notifications done with the service
// .snack-success {
//   border-radius: $snack-radius;

//   @include mat.snack-bar-overrides((container-color: $color-success,
//       supporting-text-color: #fff));
// }

// .snack-error {
//   border-radius: $snack-radius;

//   @include mat.snack-bar-overrides((container-color: $color-danger,
//       supporting-text-color: #fff));
// }

// .snack-info {
//   border-radius: $snack-radius;

//   @include mat.snack-bar-overrides((container-color: $color-info,
//       supporting-text-color: #fff));
// }

// .snack-warning {
//   border-radius: $snack-radius;

//   @include mat.snack-bar-overrides((container-color: $color-warning,
//       supporting-text-color: #fff));
// }

// .snack-default {
//   border-radius: $snack-radius;

//   @include mat.snack-bar-overrides((container-color: #424242,
//       supporting-text-color: #fff));
// }