/* @use '@angular/material' as mat;
$snack-radius: 8px; */


/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.full-width {
  width: 100%;
}

/* Notifications done with the service */
/* .snack-success {
  border-radius: 9px;

  @include mat.snack-bar-overrides((
    container-color: #4caf50,
    supporting-text-color: #fff
  ));
}

.snack-error {
  border-radius: $snack-radius;
  
  @include mat.snack-bar-overrides((
    container-color: #f44336,
    supporting-text-color: #fff
  ));
}

.snack-info {
  border-radius: $snack-radius;

  @include mat.snack-bar-overrides((
    container-color: #2196f3,
    supporting-text-color: #fff
  ));
}

.snack-warning {
  border-radius: $snack-radius;

  @include mat.snack-bar-overrides((
      container-color: #ff9800,
      supporting-text-color: #fff
  ));
}

.snack-default {
  border-radius: $snack-radius;

  @include mat.snack-bar-overrides((
      container-color: #424242,
      supporting-text-color: #fff
  ));
} */
