<mat-sidenav-container class="dashboard-container">

    <mat-sidenav #sidenav mode="side" [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="sidenavOpened()"
        class="dashboard-sidenav">

        <div class="sidenav-header">
            @if (user$ | async) {
            <img (click)="goProfile()" [src]="(user$ | async)?.photoURL || 'assets/avatar-placeholder.png'" alt="avatar"
                class="avatar" />
            <div class="user-info">
                <div class="name">{{ (user$ | async)?.displayName || (user$ | async)?.email }}</div>
            </div>
            } @else {
            <img (click)="goProfile()" src="assets/avatar-placeholder.png" alt="avatar" class="avatar" />
            <div class="user-info">
                <div class="name">Usuari</div>
            </div>
            }
        </div>

        <mat-divider></mat-divider>

        <mat-nav-list>
            @for (item of menuItems; track item.label) {

            <mat-list-item [routerLink]="item.route">
                <mat-icon matListItemIcon>{{item.icon}}</mat-icon>
                <h3 matListItemTitle>{{item.label}}</h3>
            </mat-list-item>

            }
            @if (isAdmin$ | async) {
            <mat-list-item [routerLink]="'/dashboard/users'">
                <mat-icon matListItemIcon>people</mat-icon>
                <h3 matListItemTitle>Usuaris</h3>
            </mat-list-item>
            }
        </mat-nav-list>

        <div class="sidenav-footer">
            <button mat-button color="primary" (click)="logout()">
                <mat-icon>logout</mat-icon>
                Sortir
            </button>
        </div>
    </mat-sidenav>

    <mat-sidenav-content>
        <mat-toolbar class="dashboard-toolbar">
            <button mat-icon-button (click)="sidenav.toggle()" aria-label="Toggle sidenav">
                <mat-icon>menu</mat-icon>
            </button>
        </mat-toolbar>

        <div class="dashboard-content">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>